*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    min-height: 120px;
    background-color: #0b9cc0;
    color: white;
    justify-content: flex-start;
    align-items: center;
}

.header h1{
    margin: 10px;
    padding: 10px;
}